{
  "comments": false,
  "presets": [
    [ "env", { "node": "6.10" } ]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "source-map-support",
    "transform-async-generator-functions"
  ]
}
